streamlit==1.39.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
pandas==2.2.2
dlib==19.24.0
scikit-image
scikit-learn
mediapipe==0.10.13  # Use 0.10.13, it supports Python 3.10/3.11
deepface
fer
mtcnn
gTTS
